<h1>This is ItemsController speaking</h1>
<p>
	Hello, <%= params[:first_name] %>
	<%= params[:family_name] %>
</p>

<p>We have <%= @items_count %> items in our store!</p>

<p>Logout time is <%= @logout_time %></p>